# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_URL=<add_discovery_url>
## Un-comment and use either username+password or IAM apikey.
# DISCOVERY_IAM_APIKEY=<add_discovery_iam_apikey>
# DISCOVERY_PASSWORD=<add_discovery_password>
# DISCOVERY_USERNAME=<add_discovery_username>

# Run locally on a non-default port (default is 3000)
# PORT=3000

# Slack
SLACK_BOT_TOKEN=<slack_bot_token>

# Run locally on a non-default port (default is 3000)
# PORT=3000
