# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
# Change the URL and uncomment if it is different from below:
# DISCOVERY_URL=https://gateway.watsonplatform.net/discovery/api
DISCOVERY_IAM_APIKEY=<add_discovery_iam_apikey>

# Run locally on a non-default port (default is 3000)
# PORT=3000

# Slack
SLACK_BOT_TOKEN=<slack_bot_token>
