/*! CSS Used from: http://localhost:3333/css/watson-react-components.min.css */

.base--pre,
.base--pre code,
code,
pre,
pre code {
    font-family: source-code-pro, Menlo, Consolas, monospace;
}

div::after,
div::before,
header::after,
header::before {
    content: '';
    display: table;
    clear: both;
}

body,
code,
div,
h1,
h2,
h5,
header,
img,
li,
main,
nav,
p,
pre,
section,
span,
ul {
    background: 0 0;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

header,
main,
nav,
section {
    display: block;
}

a {
    background-color: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:active,
a:hover {
    outline: 0;
}

ul {
    list-style: none;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

code,
pre {
    font-size: 1em;
    font-family: monospace, sans-serif;
}

*,
:after,
:before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0rem;
    background: #fff;
    color: #323232;
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

body *+* {
    margin-top: 1rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: 200;
}

.base--h2,
h2 {
    font-size: 2.25rem;
    font-weight: 200;
}

.base--h5,
h5 {
    font-size: 1rem;
    font-weight: 400;
}

.base--a,
a {
    color: #121212;
    border-bottom: 2px solid #121212;
    font-weight: 400;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
}

.base--a:visited,
a:visited {
    color: #121212;
    border-bottom: 2px solid #121212;
}

.base--a:focus,
.base--a:hover,
a:focus,
a:hover {
    color: #9855d4;
    border-bottom: 2px solid #9855d4;
}

.base--p,
p {
    font-size: 1rem;
    font-weight: 400;
    color: #121212;
}

code {
    padding: .2em .5em;
    font-size: .8em;
    color: #008571;
    outline: 1px solid rgba(199, 199, 199, .25);
}

.base--pre,
.base--pre code,
pre,
pre code {
    display: block;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    word-spacing: normal;
    text-align: left;
    word-break: normal;
    white-space: pre;
    word-wrap: normal;
    direction: ltr;
    -moz-tab-size: 2;
    tab-size: 2;
    overflow-y: overlay;
}

.base--pre,
pre {
    margin: .5em 0;
    overflow: auto;
    margin-top: 0rem;
    white-space: normal;
    padding: 1rem 2rem;
    background-color: #f0f2f4;
    color: #121212;
    font-size: .875em;
}

.base--pre code,
pre code {
    font-size: 1em;
    outline: 0;
    margin: 0rem;
    padding: 0rem;
}

.base--ul,
ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    width: 100%;
}

.base--ul .base--li,
.base--ul li,
ul .base--li,
ul li {
    margin-top: 0rem;
}

.base--ul .base--li::before,
.base--ul li::before,
ul .base--li::before,
ul li::before {
    padding-right: .4em;
    text-align: right;
}

.base--ul .base--li::before,
.base--ul li::before,
ul .base--li::before,
ul li::before {
    content: "•";
}

.base--ul_inline .base--li {
    display: inline-block;
    margin-top: 0rem;
    margin-right: 1rem;
}

.base--ul_inline .base--li::before {
    display: inline-block;
}

.base--ul_no-bullets .base--li::before {
    display: none;
}

.icon:before {
    font-family: icons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

.icon {
    vertical-align: middle;
    font-size: 1em;
    color: inherit;
}

._container {
    width: 100%;
    margin: auto;
    padding: 0rem 1rem;
}

@media (min-width:768px) {
    ._container {
        max-width: 768px;
    }
}

._container_large {
    max-width: 1024px;
}

code[class*=language-] ::-moz-selection,
pre[class*=language-] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

code[class*=language-] ::selection,
pre[class*=language-] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

.token.punctuation {
    color: #777677;
}

.token.property {
    color: #9855d4;
}

.token.string {
    color: #db2780;
}

.token.operator {
    color: #a67f59;
    background: rgba(255, 255, 255, .5);
}

.prism {
    position: relative;
}

.base--h2 {
    font-weight: 200;
    color: #562f72;
}

.base--p {
    font-weight: 400;
    color: #121212;
}

.icon {
    vertical-align: middle;
    font-size: 1em;
    color: inherit;
    height: 2rem;
    width: 2rem;
}

.icon:before {
    vertical-align: middle;
}

.icon_small {
    height: 1rem;
    width: 1rem;
}

.row {
    display: block;
}

.description {
    color: #121212;
}

@media (min-width:640px) {
    .description {
        width: 65.95745%;
        margin-right: 2.12766%;
        float: left;
        display: block;
        float: none;
        clear: both;
        display: block;
    }
}

.header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    height: 3.625rem;
    background-color: #fff;
    padding: 0rem;
    position: relative;
}

@media (min-width:1024px) {
    .header {
        padding: 0rem 1.6rem;
    }
}

.header--wordmark {
    font-size: 1.1rem;
    font-weight: 700;
    top: calc(50% - 10px);
    position: absolute;
    display: none;
    margin-top: -.2rem;
}

@media (min-width:1262px) {
    .header--wordmark {
        display: inline-block;
    }
}

.header--wordmark-link {
    border: none;
}

.header--wordmark-svg {
    height: 20px;
    width: 100px;
}

.header--wordmark-2 {
    display: none;
    margin-right: 1rem;
}

@media (min-width:640px) {
    .header--wordmark-2 {
        display: inline-block;
    }
}

@media (min-width:1262px) {
    .header--wordmark-2 {
        display: none;
    }
}

.header--wordmark-2-link {
    border: none;
}

.header--breadcrumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    font-size: .6875rem;
}

.header--breadcrumbs-main,
.header--breadcrumbs-main:focus,
.header--breadcrumbs-main:hover,
.header--breadcrumbs-main:visited {
    font-weight: 700;
    color: #9855d4;
    display: inline-block;
    margin-top: 0rem;
}

.header--breadcrumbs-slash {
    color: #9855d4;
    display: inline-block;
    margin: 0rem .5rem;
}

.header--breadcrumbs-sub,
.header--breadcrumbs-sub:focus,
.header--breadcrumbs-sub:hover,
.header--breadcrumbs-sub:visited {
    color: #777677;
    display: inline-block;
    margin-top: 0rem;
}

.header--breadcrumbs-link {
    border-bottom: none;
}

.header--breadcrumbs-link:focus,
.header--breadcrumbs-link:hover {
    border-bottom: none;
}

.jumbotron {
    margin-top: 0rem;
}

.jumbotron,
.jumbotron._full-width-row {
    padding: 3rem 0rem;
}

.jumbotron--header {
    line-height: 1;
    margin-top: 0rem;
}

.jumbotron--description {
    width: 91.48936%;
    margin-right: 2.12766%;
    float: left;
    display: block;
    font-weight: 300;
    display: block;
    max-width: 43.75rem;
}

.jumbotron--get-started {
    display: inline-block;
    margin-right: 1rem;
}

.jumbotron--get-started .icon {
    width: .75rem;
    height: .75rem;
}

.jumbotron--get-started-span {
    margin-left: .5rem;
    font-weight: 700;
    vertical-align: middle;
    font-size: .8rem;
}

.jumbotron--nav {
    font-size: .6875rem;
    margin-top: 1.5rem;
}

.jumbotron--nav-ul {
    display: inline-block;
    width: auto;
    margin-top: .5rem;
}

.jumbotron--nav-ul.base--ul_inline .jumbotron--nav-li {
    margin-bottom: .5rem;
}

.jumbotron--nav-link,
.jumbotron--nav-link:focus,
.jumbotron--nav-link:hover,
.jumbotron--nav-link:visited {
    color: #121212;
    border-bottom: 1px solid #121212;
}

._full-width-row {
    padding: 4rem 0rem;
    margin-top: 0rem;
}

._full-width-row_gray {
    background-color: #f4f4f4;
}


/*! CSS Used from: http://localhost:3333/css/application.css */

main {
    margin-top: 0rem;
}

.base--p {
    font-size: 1.1428em;
}

@media (min-width: 560px) {
    .base--p {
        font-size: 1em;
    }
}

.base--p {
    font-weight: 300;
}

.results {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.results ._container {
    margin: 20px 0;
}

.results .base--h2 {
    color: #000;
}

.top-topics--cloud {
    display: block;
    transform: scale(.9, .9);
}

.top-topics--word {
    margin: auto;
    display: inline-block;
    margin-right: 1.5rem;
    font-weight: 300;
    border: none;
}

.code-results {
    background-color: #0b0e0f;
}

.code-results--header-row {
    display: block;
    padding: 1rem 1rem 0rem;
}

.code-results--header-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 0rem;
}

.code-results--header.base--h2 {
    color: #fdfdfd;
    margin-top: 0rem;
    font-size: 1.5em;
}

.code-results .base--pre {
    background-color: transparent;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #c7c7c7;
    max-height: 24rem;
    overflow: visible;
}

.code-results .base--pre code {
    overflow: visible;
}

.code-block--code {
    padding-bottom: 2rem;
    overflow: auto;
}

.widget {
    padding: 1rem 1rem 1rem;
    border: 1px solid #e3e3e3;
}

.widget--header {
    display: block;
    text-align: center;
}

.widget--header-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 0rem;
}

.widget--header-spacer:hover {
    border: #9855D4 1px solid;
    color: #9855D4;
}

.widget--header-title {
    display: inline-block;
    margin-top: 0rem;
    font-size: 1.5em;
    text-align: center;
}

@media (min-width: 1200px) {
    .results ._container {
        max-width: 50%;
    }
}

@media (min-width: 560px) {
    .widget {
        padding: 1rem 2rem 1rem;
    }
    .widget--header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .widget--header-title {
        font-size: 2.25em;
    }
    .code-results--header.base--h2 {
        font-size: 2.25em;
    }
    .code-results--header-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem 2rem 0rem;
    }
}

.token.operator {
    background-color: #0b0e0f;
}

.rss-feed--icon {
    margin-left: 10px;
    text-decoration: none;
    border: none;
}