/*! CSS Used from: http://localhost:3333/css/watson-react-components.min.css */

.base--input,
input,
input[type=text] {
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", Roboto, sans-serif;
}

div::after,
div::before,
header::after,
header::before {
    content: '';
    display: table;
    clear: both;
}

body,
div,
h2,
h5,
header,
label,
li,
main,
nav,
p,
section,
span,
ul {
    background: 0 0;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

header,
main,
nav,
section {
    display: block;
}

a {
    background-color: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:active,
a:hover {
    outline: 0;
}

ul {
    list-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type=radio] {
    padding: 0;
}

input {
    vertical-align: middle;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0rem;
    background: #fff;
    color: #323232;
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

body *+* {
    margin-top: 1rem;
}

.base--h2,
h2 {
    font-size: 2.25rem;
    font-weight: 200;
}

.base--h5,
h5 {
    font-size: 1rem;
    font-weight: 400;
}

.base--a,
a {
    color: #121212;
    border-bottom: 2px solid #121212;
    font-weight: 400;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
}

.base--a:visited,
a:visited {
    color: #121212;
    border-bottom: 2px solid #121212;
}

.base--a:focus,
.base--a:hover,
a:focus,
a:hover {
    color: #9855d4;
    border-bottom: 2px solid #9855d4;
}

.base--p,
p {
    font-size: 1rem;
    font-weight: 400;
    color: #121212;
}

.base--ul,
ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    width: 100%;
}

.base--ul .base--li,
.base--ul li,
ul .base--li,
ul li {
    margin-top: 0rem;
}

.base--ul .base--li::before,
.base--ul li::before,
ul .base--li::before,
ul li::before {
    padding-right: .4em;
    text-align: right;
}

.base--ul .base--li::before,
.base--ul li::before,
ul .base--li::before,
ul li::before {
    content: "•";
}

.base--ul_inline .base--li {
    display: inline-block;
    margin-top: 0rem;
    margin-right: 1rem;
}

.base--ul_inline .base--li::before {
    display: inline-block;
}

.base--ul_no-bullets .base--li::before {
    display: none;
}

.base--input,
input,
input[type=text] {
    width: 100%;
    padding: .6em 1em;
    font-size: 1em;
    font-weight: 300;
    border: 2px solid #464646;
    background-color: #fff;
    line-height: normal;
    display: block;
}

.base--input:focus,
input:focus {
    outline: 3px solid #9855d4;
    border-color: #9855d4;
}

.base--input:disabled,
input:disabled {
    background-color: #e0e0e0;
}

label {
    display: block;
    margin: 1.25em 0 .25em;
}

.base--inline-label {
    display: inline;
}

.base--radio,
input[type=radio] {
    display: none;
}

.base--radio+label,
input[type=radio]+label {
    position: relative;
}

.base--radio+label::before,
input[type=radio]+label::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 1rem;
    vertical-align: middle;
    border: 2px solid #aeaeae;
    border-radius: 50%;
    content: '';
    transform: translateY(-.125em);
}

.base--radio:checked+label::before,
input[type=radio]:checked+label::before {
    background: radial-gradient(#323232 40%, transparent 40%);
}

.base--button {
    padding: .25em 2em;
    color: #9855d4;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #9855d4;
    border-radius: 10rem;
    transition: .2s;
    display: inline-block;
}

.base--button:focus,
.base--button:hover {
    background-color: rgba(38, 38, 38, 0);
    border-color: #bd92e3;
    color: #bd92e3;
}

.base--button:active {
    transition: 0s;
    transform: translateY(2px);
}

.icon:before {
    font-family: icons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

.icon {
    vertical-align: middle;
    font-size: 1em;
    color: inherit;
}

._container {
    width: 100%;
    margin: auto;
    padding: 0rem 1rem;
}

@media (min-width:768px) {
    ._container {
        max-width: 768px;
    }
}

._container_large {
    max-width: 1024px;
}

.base--h2 {
    font-weight: 200;
    color: #562f72;
}

.base--p {
    font-weight: 400;
    color: #121212;
}

.base--input {
    max-width: 30rem;
}

.base--input {
    border-width: 1px;
    border-color: #777677;
}

.base--input:focus,
.base--input:hover {
    border-width: 1px;
    outline-width: 1px;
}

.icon {
    vertical-align: middle;
    font-size: 1em;
    color: inherit;
    height: 2rem;
    width: 2rem;
}

.icon:before {
    vertical-align: middle;
}

.icon_small {
    height: 1rem;
    width: 1rem;
}

.row {
    display: block;
}

.description {
    color: #121212;
}

@media (min-width:640px) {
    .description {
        width: 65.95745%;
        margin-right: 2.12766%;
        float: left;
        display: block;
        float: none;
        clear: both;
        display: block;
    }
}

.text-input {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    position: relative;
}

.text-input--input[type=text] {
    border: none;
    padding-left: 0rem;
    padding-right: 0rem;
    box-shadow: 0 2px 0 0 #af6ee8;
    overflow: visible;
}

.text-input--input[type=text]:focus {
    outline: 0;
}

.text-input--input[type=text]:focus::-webkit-input-placeholder {
    color: #000;
}

.text-input--input[type=text]:focus:-ms-input-placeholder {
    color: #000;
}

.text-input--input[type=text]:focus::placeholder {
    color: #000;
}

.text-input--dummy {
    display: inline;
    font-weight: 300;
    position: absolute;
    top: 0rem;
    left: 0rem;
    visibility: hidden;
}

.bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 6rem;
}

.bar--full-bar {
    height: .5rem;
    border: 1px solid #777677;
    position: relative;
    width: calc(100% - 2rem);
    margin-right: .5rem;
}

.bar--value-bar {
    background-color: #777677;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.bar--score {
    width: 1.5rem;
    text-align: right;
    margin-top: 0rem;
    vertical-align: right;
    font-size: .8rem;
}

.header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    height: 3.625rem;
    background-color: #fff;
    padding: 0rem;
    position: relative;
}

@media (min-width:1024px) {
    .header {
        padding: 0rem 1.6rem;
    }
}

.header--wordmark {
    font-size: 1.1rem;
    font-weight: 700;
    top: calc(50% - 10px);
    position: absolute;
    display: none;
    margin-top: -.2rem;
}

@media (min-width:1262px) {
    .header--wordmark {
        display: inline-block;
    }
}

.header--wordmark-link {
    border: none;
}

.header--wordmark-svg {
    height: 20px;
    width: 100px;
}

.header--wordmark-2 {
    display: none;
    margin-right: 1rem;
}

@media (min-width:640px) {
    .header--wordmark-2 {
        display: inline-block;
    }
}

@media (min-width:1262px) {
    .header--wordmark-2 {
        display: none;
    }
}

.header--wordmark-2-link {
    border: none;
}

.header--breadcrumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    font-size: .6875rem;
}

.header--breadcrumbs-main,
.header--breadcrumbs-main:focus,
.header--breadcrumbs-main:hover,
.header--breadcrumbs-main:visited {
    font-weight: 700;
    color: #9855d4;
    display: inline-block;
    margin-top: 0rem;
}

.header--breadcrumbs-slash {
    color: #9855d4;
    display: inline-block;
    margin: 0rem .5rem;
}

.header--breadcrumbs-sub,
.header--breadcrumbs-sub:focus,
.header--breadcrumbs-sub:hover,
.header--breadcrumbs-sub:visited {
    color: #777677;
    display: inline-block;
    margin-top: 0rem;
}

.header--breadcrumbs-link {
    border-bottom: none;
}

.header--breadcrumbs-link:focus,
.header--breadcrumbs-link:hover {
    border-bottom: none;
}

.jumbotron {
    margin-top: 0rem;
}

.jumbotron,
.jumbotron._full-width-row {
    padding: 3rem 0rem;
}

.jumbotron--header {
    line-height: 1;
    margin-top: 0rem;
}

.jumbotron--description {
    width: 91.48936%;
    margin-right: 2.12766%;
    float: left;
    display: block;
    font-weight: 300;
    display: block;
    max-width: 43.75rem;
}

.jumbotron--get-started {
    display: inline-block;
    margin-right: 1rem;
}

.jumbotron--get-started .icon {
    width: .75rem;
    height: .75rem;
}

.jumbotron--get-started-span {
    margin-left: .5rem;
    font-weight: 700;
    vertical-align: middle;
    font-size: .8rem;
}

.jumbotron--nav {
    font-size: .6875rem;
    margin-top: 1.5rem;
}

.jumbotron--nav-ul {
    display: inline-block;
    width: auto;
    margin-top: .5rem;
}

.jumbotron--nav-ul.base--ul_inline .jumbotron--nav-li {
    margin-bottom: .5rem;
}

.jumbotron--nav-link,
.jumbotron--nav-link:focus,
.jumbotron--nav-link:hover,
.jumbotron--nav-link:visited {
    color: #121212;
    border-bottom: 1px solid #121212;
}

.buttons-group--button {
    text-align: center;
    border-width: 1px;
    border-color: #777677;
    color: #777677;
    font-weight: 300;
    white-space: nowrap;
    overflow: auto;
    padding: .25rem 0rem;
    overflow: hidden;
    border-radius: 0rem 0rem 0rem 0rem;
    border-left-width: 0rem;
    margin-top: 0rem;
}

.buttons-group--button:active {
    transform: none;
    background-color: #9855d4;
    color: #fff;
}

.buttons-group--button:hover {
    border-color: #412356;
    color: #412356;
}

.buttons-group--button_first {
    border-radius: 10rem 0rem 0rem 10rem;
    border-left-width: 1px;
}

.buttons-group--button_last {
    border-radius: 0rem 10rem 10rem 0rem;
    border-left: none;
}

.base--radio+.buttons-group--button:before {
    display: none;
}

.base--radio:checked+.buttons-group--button {
    background-color: #9855d4;
    color: #fff;
}

._full-width-row {
    padding: 4rem 0rem;
    margin-top: 0rem;
}

._full-width-row_gray {
    background-color: #f4f4f4;
}


/*! CSS Used from: http://localhost:3333/css/application.css */

main {
    margin-top: 0rem;
}

.base--p {
    font-size: 1.1428em;
}

@media (min-width: 560px) {
    .base--p {
        font-size: 1em;
    }
}

.base--p {
    font-weight: 300;
}

.query {
    padding: 0rem;
    background-color: #9753e1;
    position: relative;
    min-height: 500px;
}

@media (min-width: 768px) {
    .query {
        height: 500px;
    }
}

.query .text-input--input {
    background: transparent;
    color: white;
    font-size: 1em;
    max-width: calc(100% - 5rem);
    box-shadow: 0 2px 0 0 white;
    padding-bottom: 1.1rem;
}

.query .text-input--input:focus::-webkit-input-placeholder {
    color: white;
}

.query .text-input--input:focus::-moz-placeholder {
    color: white;
}

.query ::-webkit-input-placeholder {
    color: white;
}

.query .text-input--input:focus:-ms-input-placeholder {
    color: white;
}

.query .text-input--input:focus::-webkit-input-placeholder {
    color: white;
}

.query .text-input--input:focus::-moz-placeholder {
    color: white;
}

.query .text-input--input:focus::placeholder {
    color: white;
}

.query .text-input--input:-webkit-input-placeholder {
    color: white;
}

.query .text-input--input::-moz-placeholder {
    color: white;
}

.query .text-input--input:-ms-input-placeholder {
    color: white;
}

.query .text-input--input::-webkit-input-placeholder {
    color: white;
}

.query .text-input--input::placeholder {
    color: white;
}

.query .text-input--dummy {
    font-size: 1em;
    width: 100%;
    overflow-x: hidden;
}

.query--text-input-container {
    display: block;
    position: relative;
}

.query--search-container {
    position: relative;
}

.query--icon-container {
    display: inline-block;
    margin-top: 0rem;
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    cursor: pointer;
}

.query--icon-container .icon {
    height: 1.25rem;
    width: 1.25rem;
}

.query_collapsed {
    height: auto;
    min-height: auto;
    padding: 4rem 0rem;
}

.query_collapsed .query--search-container {
    margin-top: 0rem;
}

.query_collapsed .text-input {
    padding-left: 1.25rem;
}

@media (min-width: 415px) {
    .query .text-input--input {
        font-size: 1.25em;
        padding-bottom: 1rem;
    }
    .query .text-input--dummy {
        font-size: 1.25em;
    }
    .query--icon-container .icon {
        height: 1.25rem;
        width: 1.25rem;
    }
    .query--icon-container {
        bottom: 1.225rem;
    }
}

@media (min-width: 485px) {
    .query .text-input--input {
        font-size: 1.5em;
    }
    .query .text-input--dummy {
        font-size: 1.5em;
    }
    .query--icon-container .icon {
        height: 1.5rem;
        width: 1.5rem;
    }
    .query--icon-container {
        bottom: 1rem;
    }
}

@media (min-width: 615px) {
    .query .text-input--input {
        font-size: 2em;
        padding-bottom: 0.35rem;
    }
    .query .text-input--dummy {
        font-size: 2em;
    }
    .query--icon-container .icon {
        height: 1.75rem;
        width: 1.75rem;
    }
    .query--icon-container {
        bottom: 0.75rem;
    }
}

@media (min-width: 768px) {
    .query .text-input--input {
        font-size: 1.25em;
        padding-bottom: 1.1rem;
    }
    .query .text-input--dummy {
        font-size: 1.25em;
    }
    .query--icon-container .icon {
        height: 1.25rem;
        width: 1.25rem;
    }
    .query--icon-container {
        bottom: 1rem;
    }
}

@media (min-width: 815px) {
    .query .text-input--input {
        font-size: 1.5em;
        padding-bottom: 0.75rem;
    }
    .query .text-input--dummy {
        font-size: 1.5em;
    }
    .query--icon-container .icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media (min-width: 885px) {
    .query .text-input--input {
        padding-left: 0rem;
    }
    .query--text-input-container {
        width: 48.93617%;
        margin-right: 2.12766%;
        float: left;
    }
    .query--search-container {
        margin-top: 4.75rem;
    }
    .query_collapsed .text-input--input {
        font-size: 1.25em;
        padding-bottom: 0.75rem;
    }
    .query_collapsed .text-input--dummy {
        font-size: 1.25em;
    }
}

@media (min-width: 1005px) {
    .query .text-input--input {
        font-size: 2em;
        padding-bottom: 0.35rem;
    }
    .query .text-input--dummy {
        font-size: 2em;
    }
    .query--icon-container .icon {
        height: 1.75rem;
        width: 1.75rem;
    }
    .query--icon-container {
        bottom: 0.75rem;
    }
    .query_collapsed .text-input--input {
        font-size: 1.5em;
        padding-bottom: 0.75rem;
    }
    .query_collapsed .text-input--dummy {
        font-size: 1.5em;
    }
}

.results {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.results .base--h2 {
    color: #000;
}

.results--a,
.results--a:visited {
    color: #9753e1;
    font-weight: inherit;
    background: transparent;
    border: none;
    padding: 0rem;
    margin-top: 0rem;
}

.results--a:hover,
.results--a:focus {
    color: #b07ce8;
    border-bottom: none;
}

.story {
    margin-bottom: .5rem;
}

.story--date {
    font-size: 0.7em;
    color: #5A5A5A;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.story--title {
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.3;
}

.story--source-and-score {
    margin-top: 0.05rem;
}

.story--source {
    font-size: 0.9em;
}

.story--score {
    font-size: 0.9em;
    margin-top: 0;
}

.widget {
    padding: 1rem 1rem 1rem;
    border: 1px solid #e3e3e3;
}

.widget--header {
    display: block;
}

.widget--header-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 0rem;
}

.widget--header-spacer:hover {
    border: #9855D4 1px solid;
    color: #9855D4;
}

.widget--header-title {
    display: inline-block;
    margin-top: 0rem;
    font-size: 1.5em;
}

@media (min-width: 560px) {
    .widget {
        padding: 1rem 2rem 1rem;
    }
    .widget--header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .widget--header-title {
        font-size: 2.25em;
    }
}

input:focus {
    outline: none;
}

.buttons-group--button {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.buttons-group--button:hover,
input[type="radio"]:checked+label.buttons-group--button {
    background-color: #fff;
    color: #9855d4;
    border-color: #fff;
}

.query--flex-container {
    display: flex;
    align-items: flex-center;
    flex-direction: column;
}

.query--flex-container .query--text-input-container {
    width: 100%;
}

@media (max-width: 600px) {
    .query--flex-container {
        flex-direction: column;
        align-items: center;
    }
    .query--flex-container .query--text-input-container {
        width: 100%;
    }
}

.loader--container {
    text-align: center;
    padding: 3rem;
}
